<%- include("partials/header") -%>

<div class="container">
  <h1>Customer Details</h1>
  <form id="default" action="/customers/edit/<%- customer.id.substr(4) %>/default-method" method="post"></form>
  <form id="delete" action="/customers/edit/<%- customer.id.substr(4) %>/delete-method" method="post"></form>
  <ul class="list-group">
    <li class="list-group-item"><b>Name:</b> <%- customer.name %></li>
    <li class="list-group-item"><b>Email:</b> <%- customer.email %></li>
    <li class="list-group-item">
      <% if (paymentMethods.data.length !== 0) { %>
        <b>Payment Methods:</b>
      <% } %>
      <% paymentMethods.data.forEach(function(paymentMethod) { %>
        <% if (paymentMethod.id === customer.invoice_settings.default_payment_method) { %>
          <div class="container">
            <ul class="list-group">
              <li class="list-group-item"><em>Default</em></li>
              <li class="list-group-item"><b>Card Brand:</b> <%- paymentMethod.card.brand %></li>
              <li class="list-group-item"><b>Card Number:</b> **** **** **** <%- paymentMethod.card.last4 %></li>
              <li class="list-group-item"><button form="delete" name="deletePaymentMethod" type="submit" class="btn btn-danger" value="<%- paymentMethod.id %>">Delete</button></li>
            </ul>
          </div>
        <% } else { %>
          <div class="container">
            <ul class="list-group">
              <li class="list-group-item"><b>Card Brand:</b> <%- paymentMethod.card.brand %></li>
              <li class="list-group-item"><b>Card Number:</b> **** **** **** <%- paymentMethod.card.last4 %></li>
              <li class="list-group-item"><button form="default" name="makeDefault" type="submit" class="btn btn-primary" value="<%- paymentMethod.id %>">Make Default</button><button form="delete" name="deletePaymentMethod" type="submit" class="btn btn-danger" value="<%- paymentMethod.id %>">Delete</button></li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <a class="btn btn-primary" href="/customers/edit/<%- customer.id.substring(4) %>/add-payment-method" role="button">New Payment Method</a>
    </li>
    <form id="cancelSubscription" action="/customers/edit/<%- customer.id.substring(4) %>/cancel-subscription" method="post"></form>
    <li class="list-group-item">
      <% if (paymentMethods.data.length !== 0) { %>
        <b>Subscriptions:</b>
      <% } %>
      <% subscriptions.data.forEach(function(subscription) { %>
        <div class="container">
          <ul class="list-group">
            <li class="list-group-item"><b>Amount:</b> £<%- subscription.items.data[0].price.unit_amount / 100 %></li>
            <li class="list-group-item"><button form="cancelSubscription" name="cancelSubscription" type="submit" class="btn btn-danger" value="<%- subscription.id %>">Cancel</button></li>
          </ul>
        </div>
      <% }) %>
      <a class="btn btn-primary" href="/customers/edit/<%- customer.id.substring(4) %>/add-subscription" role="button">New Subscription</a>
    </li>
  </ul>
</div>

<%- include("partials/footer") -%>
